.card-style{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.img-card {
  width: 100%;
  height: 150px;
  object-fit: contain; 
  display: block;
}

.card-style .ant-card-meta-title {
  white-space: normal;          /* Permite saltos de línea */
  overflow-wrap: break-word;    /* Rompe palabras largas si es necesario */
  overflow: hidden;             /* Evita que desborde */
  max-height: 3em;              /* Altura para 2 líneas*/
  line-height: 1.5em;     /* Altura por línea */
}